.list-group-item {
  cursor: move;
}

.list-group-item .delete-btn {
  cursor: pointer;
}

.delete-btn {
  background-color: transparent;
  border: none;
}

.delete-btn:hover .delete-btn-icon {
  color: #dc3545;
}

.link-dark:hover {
  color: #0d6efd;
}

.big-text {
  font-size: 18px;
}
